
body {
    background-image:url(../assets/pexels.jpg);
    
}

.jumbotron {
    color:white;
    font-family: 'Permanent Marker', cursive;
    border-bottom:5px solid white;
}

#date {
    color:white;
    font-family: 'Play', sans-serif;
    text-align:center;
    font-size: 100%;
    margin-top: 20px;
}

.row-border {
    border-bottom: .5px solid black;
    border-right: .5px solid black;
    border-left: 1px solid black;
    border-top: .5px solid black;
 }

 .time {
    background-color:#6C91C2;
    
 }

.text {
    border:none;
    width:100%;
}

 p {
    font-family: 'Play', sans-serif;
    font-size:150%;
    text-align:center;
  
    color:white;
 }

 .add-text {
    background-color:#8B8982;

 }

 .save {
    background-color:rgb(53, 53, 53);
 }

 .save-button {
     background-color:rgb(53, 53, 53);
     border-style: none;
     font-size:200%;
     color:white;
 }

 .save-button:hover {
     opacity:0.7;
 }

 footer {
     margin-top:30px;
     border-top:2px white solid;
 }


/*--------------- TIME COLOR CONTROLS -----------*/

.current-time {
    background-color:rgb(105, 172, 228);
}
 .time-left {
     background-color:rgb(247, 193, 252);
 }
 .passed-time {
    background-color:#8B8982;
 }




